*{
    margin: 0;
    padding: 24px 0;
}

header {
    background-color: rgb(16, 113, 13);
    color:white
}

body {
    background-color: rgb(195, 189, 189);
}

.cabecalho {
    display: flex;
    justify-content: space-around;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 28px;
}


.escola-imagem {
    width: 25%;
}

.escola {
    background-image: linear-gradient(rgb(16, 113, 13),rgb(195, 189, 189));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.escola-div-conteudo {
    width: 35%;
}

.escola-titulo {
    padding: 24px;
}